/* CSS Document */

*{ padding:0; margin:0;}
img{border:none;}
ul,ol,li{list-style:none;}
body{font-family:"宋体"; font-size:12px;}

/*css 重置*/

.big_box{width:100%; height:auto;}
.small_box{width:1200px; height:850px; margin:20px auto; background:url(../images/login/background.jpg) no-repeat;}

/*box end*/

.top{width:240px; height:90px; float:left; margin:100px 0 0 480px;}
.top_a{width:240px; height:60px; line-height:60px;}
.img{width:75px; height:60px; background:url(../images/login/top_logo.jpg) no-repeat; float:left;}
.top_a p{text-align:center; font-size:50px; font-weight:bold; color:#ff5801;}
.top_a p span{font-size:20px; color:#7d7d7d;}
.top_b{width:240px; height:30px; line-height:30px;}
.top_b p{text-align:center; color:#2476b2; font-size:20px;}

/*top end*/

.center{width:226px; height:147px; margin:167px 0 0 588px; float:left;}
.center p{font-size:16px; line-height:36px;}
.login{width:226px; height:20px; margin:15px 0 0 0;}
.login_icon{width:226px; height:20px; line-height:20px; background:url(../images/login/login_icon.jpg) no-repeat; margin:0 0 0 39px;}
.login_icon a{text-decoration:none; color:#fff; padding:0 0 0 11px; font-size:16px;}

/*center end*/

.bottom{width:510px; height:20px; line-height:20px; float:left; margin:310px 0 0 345px;}
.bottom p{font-size:14px; color:#454442; text-align:center;}

/*bottom end*/