<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbw.yht.adv.dao.IAdvTypeDao">

	<resultMap type="lbw.yht.adv.domain.AdvType" id="advTypeMap">
		<id column="type_code" property="typeCode" />
		<result column="parent_type_code" property="parentTypeCode" />
		<result column="type_name" property="typeName" />
		<result column="type_date" property="typeDate" />
		<result column="type_content" property="typeContent" />
		<result column="type_state" property="typeState" />
	</resultMap>
	
	<select id="queryCount" parameterType="lbw.yht.adv.domain.param.AdvTypeParam" resultType="int">
		select count(*) 
		FROM adv_type a
		where a.type_code!='01' and a.type_code!='02'
		<if test="typeName != null and typeName != ''">
			and a.type_name =#{typeName}
		</if>
	</select>
	
	<select id="queryAllpageList" parameterType="lbw.yht.adv.domain.AdvType"
		resultMap="advTypeMap">
		SELECT
		a.type_code,
		a.parent_type_code,
		a.type_name,
		a.type_date,
		a.type_content,
		a.type_state 
		FROM
		adv_type a
		where a.type_code!='01' and a.type_code!='02'
		<if test="typeName != null and typeName != ''">
			and a.type_name =#{typeName}
		</if>
		<if test="pagination.sort != null or pagination.order != null">
			order by ${pagination.sort} ${pagination.order}
		</if>
		limit #{pagination.page},#{pagination.rows}
	</select>
	
	<select id="queryAdvTypeAll" resultMap="advTypeMap">
		select type_code, type_name from adv_type
	</select>
	
	<insert id="save" parameterType="lbw.yht.adv.domain.AdvType">
		insert into adv_type(
		type_code,parent_type_code,type_name,type_date,type_content,type_state) 
		values(#{typeCode},#{parentTypeCode},#{typeName},#{typeDate},#{typeContent},#{typeState})
	</insert>
	
	<select id="findOneByTypeCode" resultType="String" parameterType="String" >
		SELECT type_code from adv_type where type_code!='01' and type_code!='02' and type_code like ""#{parentTypeCode}"%" ORDER BY type_code  DESC limit 0,1
	</select>

	<select id="findOneByTypeCodeID" parameterType="String" resultMap="advTypeMap">
		select
		a.type_code,
		a.parent_type_code,
		a.type_name,
		a.type_date,
		a.type_content,
		a.type_state
		FROM
		adv_type a
		where a.type_code=#{typeCode}
	</select>
	
	<update id="modify" parameterType="lbw.yht.adv.domain.AdvType">
		update adv_type set
		parent_type_code=#{parentTypeCode},
		type_name=#{typeName},
		type_date=#{typeDate},
		type_content=#{typeContent},
		type_state=#{typeState}
		where type_code=#{typeCode}
	</update>
	
	<update id="updateAdvStatus" parameterType="lbw.yht.adv.domain.AdvType" >
		update adv_type set	
		type_state=#{typeState}
		where type_code=#{typeCode}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from adv_type
		where type_code=#{advTypes}
	</delete>
	
</mapper>