<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbw.yht.adv.dao.IAuctionAttributeDao">

	<resultMap type="lbw.yht.adv.domain.AuctionAttribute" id="AuctionAttributeMap">
        <id column="attr_id" property="attrId"/>
        <result column="attr_name" property="attrName"/>
        <result column="is_use" property="isUse"/>
        <result column="is_must_select" property="isMustSelect"/>
        <result column="ele_type" property="eleType"/>
        <result column="default_value" property="defaultValue"/>
    </resultMap>
	
	<select id="queryAuctionAttributeList" parameterType="Object" resultMap="AuctionAttributeMap">
        select attr_id, attr_name, is_use, is_must_select, ele_type, default_value 
        from auction_attribute 
        where 1 = 1
        <if test="attrId != null and attrId != ''">
        attr_id = #{attrId} 
        </if>
        <if test="attrName != null and attrName != ''">
        and attr_name like '%' || #{attrName} || '%' 
        </if>
        <if test="isUse != null">
        and is_use = #{isUse} 
        </if>
        <if test="isMustSelect != null">
        and is_must_select = #{isMustSelect} 
        </if>
        <if test="pagination != null">
        <if test="pagination.sort != null or pagination.order != null">
        order by ${pagination.sort} ${pagination.order}
        </if>
        limit #{pagination.page},#{pagination.rows}
	    </if>
    </select>
    
    <select id="queryCount" parameterType="Object" resultType="int">
        select count(1) 
        from auction_attribute 
        where 1 = 1
        <if test="attrId != null and attrId != ''">
        attr_id = #{attrId} 
        </if>
        <if test="attrName != null and attrName != ''">
        and attr_name like '%' || #{attrName} || '%' 
        </if>
        <if test="isUse != null">
        and is_use = #{isUse} 
        </if>
        <if test="isMustSelect != null">
        and is_must_select = #{isMustSelect} 
        </if>
    </select>
    
	<select id="getCountById" parameterType="Object" resultType="int">
        select count(attr_id) 
        from auction_attribute 
        where attr_id = #{attrId}
    </select>
    
    <insert id="saveAutionAttribute" parameterType="lbw.yht.adv.domain.AuctionAttribute">
        insert into auction_attribute
        (attr_id, 
         attr_name,
         is_use,
         is_must_select,
         ele_type,
         default_value
        ) values (
         #{attrId}, 
         #{attrName},
         #{isUse},
         #{isMustSelect},
         #{eleType},
         #{defaultValue}
        )
    </insert>
    
    <update id="updateAuctionAttribute" parameterType="lbw.yht.adv.domain.AuctionAttribute">
	    update auction_attribute 
	    <trim prefix="set" suffixOverrides=",">
	    <if test="attrName != null and attrName != ''">
	    attr_name = #{attrName}, 
	    </if>
	    <if test="isUse != null and isUse != ''">
	    is_use = #{isUse}, 
	    </if>
	    <if test="isMustSelect != null and isMustSelect != ''">
	    is_must_select = #{isMustSelect}, 
	    </if>
	    <if test="eleType != null and eleType != ''">
	    ele_type = #{eleType}, 
	    </if>
	    <if test="defaultValue != null and defaultValue != ''">
	    default_value = #{defaultValue} 
	    </if>
	    </trim>
	    where attr_id = #{attrId}
    </update>
    
    <select id="queryAuctionAttrByTypeCode" parameterType="Object" 
        resultMap="AuctionAttributeMap">
        select attr_id, attr_name, is_use, is_must_select, ele_type, default_value 
        from auction_attribute a 
        inner join adv_type_auction_attribute b on a.attr.id = b.auction_attr_id 
        where b.type_code = #{typeCode}
    </select>
</mapper>