<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbw.yht.adv.dao.IAdvFiltrateDao">

	<resultMap type="lbw.yht.adv.domain.AdvFiltrate" id="advFiltrateMap">
		<id column="filtrate_code" property="filtrateCode" />
		<result column="filtrate_pid" property="filtratePid" />
		<result column="filtrate_name" property="filtrateName" />
		<result column="filtrate_state" property="filtrateState" />
		<result column="filtrate_date" property="filtrateDate" />
		<result column="content" property="content" />
	</resultMap>
	
	<select id="queryCount" parameterType="lbw.yht.adv.domain.param.AdvFiltrateParam" resultType="int">
		select count(*) 
		FROM adv_filtrate a
	</select>
	
	<select id="queryAllpageList" parameterType="lbw.yht.adv.domain.AdvFiltrate"
		resultMap="advFiltrateMap">
		SELECT
		a.filtrate_code,
		a.filtrate_pid,
		a.filtrate_name,
		a.filtrate_state,
		a.filtrate_date,
		a.content 
		FROM
		adv_filtrate a
	</select>
	
</mapper>