<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbw.yht.adv.dao.IAdvRelBiddingDao">

	<resultMap type="lbw.yht.adv.domain.AdvRelBidding" id="advRelBiddingMap">
		<id column="adv_bidding_id" property="advBiddingId" />
		<result column="advplace_id" property="advplaceId" />
		<result column="bidding_id" property="biddingId" />
	</resultMap>

	<insert id="save" parameterType="lbw.yht.adv.domain.AdvRelBidding">
		insert into
		adv_rel_bidding(advplace_id,bidding_id) values(#{advplaceId},#{biddingId})
	</insert>

	<delete id="deleteByBiddingId" parameterType="String">
		delete from
		adv_rel_bidding where bidding_id=#{biddingId}
	</delete>

	<select id="queryHotAdvattribute" parameterType="Map"
		resultType="String">
		SELECT advplace_id FROM adv_rel_bidding
		GROUP BY advplace_id
		ORDER BY
		count(*) DESC
		LIMIT 0,${number}
	</select>

</mapper>