<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lbw.yht.adv.dao.IReleaseTimeDao">

	<resultMap type="lbw.yht.adv.domain.ReleaseTime" id="releaseTimeMap">
		<id column="time_id" property="timeId" />
		<result column="release_id" property="releaseId" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="total_number" property="totalNumber" />
	</resultMap>

	<insert id="save" parameterType="lbw.yht.adv.domain.ReleaseTime">
		insert into
		release_time(release_id,start_time,end_time,total_number)
		values(#{releaseId},#{startTime},#{endTime},#{totalNumber})
	</insert>

	<delete id="deleteByReleaseId" parameterType="String">
		delete from
		release_time where release_id=#{releaseId}
	</delete>

</mapper>